$site-width: 1100px !default;
$global-font: 'Varela Round', sans-serif !default;
$heading-font: 'Josefin Sans', sans-serif !default;
$global-font-size: 15px !default;
$body-color: #888 !default;
$heading-color: #031b4e !default;
$link-color: #031b4e !default;
$accent-color: #ff6b00 !default;
